<%- include('header'); -%>
<main>
    <% if (businesses.length > 0) { %>
        <div class="grid">
            <% for (let product of businesses) { %>
                <div class="card mx-2 my-4">
                    <div class="card-body">
                        <header class="card-title">
                            <p>
                          
                            <strong>Registration Number: </strong>   <%= product.registrationNo %>
                            </p>
                        </header>
                        <div class="card-text">
                            <h2>
                                <strong>Business Name: </strong>    <%= product.name %>
                            </h2>
                           
                        </div>
                    </div>
                   <div class="card-footer text-muted">
                    <p class="card-text">
                        Owner:  <%= product.userId.username %>
                      </p>
                   </div>
                   
                       
                
                   
                </div>
            <% } %>
        </div>
    <% } else { %>
        <div class="card">
<div class="card-body">
    <div role="main" class="inner cover">
        <h1 class="cover-heading">No Business Found.</h1>
        <p class="lead">You might want to add some businesses to begin with.</p>
        <p class="lead">
          <a href="/add-business" class="btn btn-lg btn-secondary">Add here</a>
        </p>
      </div>
</div>
        </div>
       
    <% } %>
</main>

<%- include('scripts'); -%>
</body>

</html>